.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
}

.carouselwala{
    justify-content: center;
    text-align: center;
    margin: 2vh;
}
.carousel{
    width: fit-content !important;
}
.alignCenterMediaQuery{
    justify-content: center;
    text-align: center;
}
.slider {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}
.freeTrialContainer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.freeTrial {

   
   text-align: center;
    margin-top: 1rem;
    /* display: flex;
    justify-content: center;
    */
    /* margin-left: 42vw; */
    background: orange;
    font-family: lato;
    border-radius: 5px;
    
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    margin-bottom: 4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;

}
.freeTrial h3{
    font-weight: 900;
}
.ourSpecialities {
    font-family: lato-bold;
    /* font-weight: 900; */
    margin-top: 8vh;
    /* font-size: 2rem; */
    letter-spacing: 0.1rem;
    text-align: center;

}
.ourCoursesText{
    text-align: center;
}
.speciality_container {
    /* display: flex;
    justify-content: space-around; */
}

.veryFirstSpeciality {
    margin-top: 2rem;
    font-family: montserrat-regular;
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
}


.testInterfaceImage {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    margin: 3rem;
    margin-bottom: 5rem;
}

.firstSpeciality {
    font-family: montserrat-regular;
    font-size: 1.5rem;
    margin: 3rem;
}

.secondSpeciality {
    width: 70%;
    text-align: center;
    margin: 3rem;

}

.analysisChartPhoto {
    /* margin: rem; */
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;

}

.videoSolution {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
}

.secondSpeciality {
    /* font-family: montserrat-regular; */
    font-size: 1.5rem;
    /* margin: 4rem */
    /* padding-top: 63rem; */
}

.speciality_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: lato;
    font-weight: 600;
}

.gradient {
    /* background-image: linear-gradient(180deg, #FFFFFF 0%, #E2FEF5 100%); */
    /* background: linear-gradient(180deg, #FFFFFF 70.65%, #E2FEF5 100%); */
    background: linear-gradient(180deg, #FFFFFF 62.13%, #E2FEF5 100%);

}
.design{
    text-align: center;
}

@media only screen and (max-width:854px) {

    .carousel{
        width:fit-content !important;
    }
    .freeTrial h3{
        font-size: 15px !important;
        padding-top: 5px;
    }
    .mySlides {
        text-align: center;

        /* width: 100%; */
    }
    .design{
        display: block !important;

    }


}



